# Запрос валют
URL_1="https://docs.openexchangerates.org/reference/historical-json" # Документация на параметр запроса
API_KEY_curs=your API key
LOGIN=your login
PASSWORD=your password

# Запрос стоимости акций
URL_2="https://www.tiingo.com/documentation/general/overview" # Документация на параметр запроса
API_KEY_stock=your API key
LOGIN=your login
PASSWORD=your password